<h5>Exemplos de Pipes</h5>

<p>Título: {{ livro.titulo | uppercase }}</p>
<p>Título camel case: {{ livro.titulo | camelCase }}</p>
<p>Estrelas: {{ livro.rating | number:'1.1-1' }}</p>
<p>Páginas: {{ livro.numeroPaginas | number }}</p>
<p>Preço: {{ livro.preco | currency:'BRL':true }}</p>
<p>Data Lançamento forçando formatação: {{ livro.dataLancamento | date:'dd/MM/yyyy' }}</p>
<p>Data Lançamento: {{ livro.dataLancamento | date }}</p>
<p>Url: {{ livro.url }}</p>
<br>
<p>Livro: {{ livro | json}}</p>