<!-- <app-diretiva-ngif></app-diretiva-ngif> -->
<!-- <app-diretiva-ngswitch></app-diretiva-ngswitch> -->
<!-- <app-diretiva-ngfor></app-diretiva-ngfor> -->
<!-- <app-diretiva-ngclass></app-diretiva-ngclass> -->
<!-- <app-diretiva-ngstyle></app-diretiva-ngstyle> -->
<!-- <app-operador-elvis></app-operador-elvis> -->

<!-- <app-exemplo-ng-content>
    Conteúdo passado para o componente utilizando ng-content
</app-exemplo-ng-content> -->

<!-- <app-exemplo-ng-content>
    <div class="titulo">Titulo ng-content com seletor</div>
    <div class="corpo">Conteudo ng-content utilizando seletor</div>
    <div class="corpo">Usando o mesmo seletor o angular agrupa tudo e joga dentro da tag</div>
</app-exemplo-ng-content> -->

<app-diretivas-customizadas></app-diretivas-customizadas>